
@{
    ViewBag.Title = "Criar Avaliação";
}

<div class="pure-g">
    <div class="pure-u-24-24">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Avaliação</legend>

                <input id="text" type="text" placeholder="Nome">

                <input type="date" placeholder="Data Criação">

                <input type="date" placeholder="Data Expedição">

                <button type="submit" class="pure-button pure-button-primary">Criar</button>
            </fieldset>
        </form>
    </div>
</div>
